@import "../../styles/index.scss";

.section-content {
  display: flex;
  flex-direction: column;

  &__image-container {
    display: grid;
    justify-items: center;
  }

  &__image {
    width: 100%;
    max-width: 400px;

    @include mq(xl) {
      max-width: 500px;
    }

    &[data-tall="true"] {
      align-items: center;
      max-width: 100px;

      @include mq(s) {
        max-width: 200px;
      }
    }
  }

  &__caption-container {
    margin-top: 25px;
    max-width: 400px;

    @include mq(xl) {
      max-width: 500px;
    }

    &__caption {
      font-style: italic;
      color: $text-brown;
      font-size: 14px;
      padding: 5px 10px;
      border: 1px solid $text-brown;

      @include mq(s) {
        padding: 10px 20px;
      }
    }
  }

  &__content {
    color: $text-brown;
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;

    p {
      font-size: 18px;
    }
    h1 {
      font-size: 36px;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 25px;
    align-items: center;

    @include mq(m) {
      display: grid;
      grid-auto-flow: column;
      justify-content: center;
      gap: 25px;
    }
    @include mq(xl) {
      margin-top: 50px;
      gap: 50px;
    }

    button {
      @include button($button-blue, $white);

      &[data-color="blue"] {
        @include button($button-blue, $white);
      }
      &[data-color="yellow"] {
        @include button($bkgd-yellow, $text-brown);
      }
    }
  }
}
