@import "../../styles/index.scss";

.list-section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1.5s ease-out, transform 1.5s ease-out;
  margin: 25px 16px;

  @include mq(m) {
    margin: 50px 25px;
  }
  @include mq(xl) {
    margin: 50px 0;
  }

  &.visible {
    opacity: 1;
    transform: translateY(0);
  }

  &__title {
    font-size: 26px;
    color: $text-brown;
  }

  &__content {
    ul {
      text-align: left;
      padding-left: 0;
      font-size: 18px;
      color: $text-brown;
      display: grid;
      gap: 5px;

      @include mq(s) {
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
      }
      @include mq(xl) {
        font-size: 20px;
        row-gap: 10px;
        column-gap: 100px;
      }

      li {
        margin-left: 0;
        list-style: none;
        list-style-position: inside;
        display: flex;
        align-items: center;
        gap: 5px;

        img {
          width: 16px;
          height: 20px;
        }

        @include mq(s) {
          padding-left: 10px;
        }
      }
    }
  }
}
