@import "../../styles/index.scss";

.wimfr-page {
  background-color: $other-bkg-blue;
}

.wimfr-content {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  justify-items: center;
  padding: 25px 0;

  @include mq(m) {
    padding: 50px 0;
  }

  &__review-section {
    display: grid;
    gap: 40px;
    justify-items: center;

    @include mq(m) {
      gap: 50px;
    }

    .carousel__item {
      // background-color: $teal-3;
    }

    &__button {
      max-width: 210px;
      @include button($bkgd-yellow, $text-brown);
    }
  }
}

.first-section__title {
  font-size: 2em;
}
