@import "../../styles/index.scss";

.wimfr-page {
  background-color: $other-bkg-blue;
}

.wimfr-content {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  justify-items: center;
  padding: 25px 0;

  @include mq(m) {
    padding: 50px 0;
  }

  &__review-section {
    display: grid;
    gap: 20px;
    justify-items: center;

    &__button {
      max-width: 210px;
      @include button($bkgd-yellow, $white);
    }
  }
}
