@import "../../styles/index.scss";

.about-page {
  background: $bkgd-yellow;
  // TODO: update once nav is done
  margin-top: 152px;
  max-width: 1200px;

  @include mq(s) {
    // TODO: update once nav is done
    margin-top: 92px;
  }
}
