@import "../../styles/index.scss";
@import url("https://fonts.googleapis.com/css2?family=Gentium+Plus:ital,wght@0,400;0,700;1,400;1,700&family=Lavishly+Yours&display=swap");

.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $sky-blue;
  z-index: 100;
  transition: top 0.3s;

  @media (min-width: 1200px) {
    display: grid;
    grid-template-columns: auto 1200px auto;
  }
}

.navbar {
  grid-column: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  color: $white;

  @include mq(m) {
    padding: 25px;
  }
  @include mq(xl) {
    padding: 25px 0;
  }

  .navbar-brand {
    font-size: 40px;
    font-family: "Lavishyly Yours", cursive;
    font-weight: 700;
  }

  a {
    color: $white;
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
      color: $bkgd-yellow;
    }
    &:focus,
    &:active {
      border: none;
    }
  }

  .navbar-links {
    display: flex;
    align-items: center;
    position: relative;
    font-family: "Gentium Plus", serif;

    @include mq(m) {
      gap: 20px;
    }
    @include mq(xl) {
      gap: 30px;
    }

    a {
      font-family: "Lavishyly Yours", cursive;
      font-size: 25px;
    }

    .action-button {
      @include button($bkgd-yellow, $white);
    }
  }
}
