// Color Variables
$white: white;
$black: #2d2d2a;
$beige: #e9e6dd;
$yellow: #eed286;
$teal: #7bb4b1;
$navy: #34659b;
$goluboy: #8ecae6;
$other-blue: #219ebc;
$darker-blue: #669bbc;
$dark-blue: #457b9d;
$wall-blue: #5ac7e8;
$bkgd-yellow: #edd286;
$text-brown: rgb(98, 62, 42);
$button-blue: #6cc8df;
$bkgd-blue: #aad2e3;
$pink: #e29d98
