// Color Variables
$white: white;
$black: #2D2D2A;
$beige: #E9E6DD;
$yellow: #EED286;
$teal: #7BB4B1;
$navy: #34659B;
$goluboy: #8ecae6;
$other-blue: #219ebc;
$darker-blue: #669bbc;
$dark-blue: #457b9d;
$wall-blue: #5ac7e8;
