@import "../../styles/index.scss";

.section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1.5s ease-out, transform 1.5s ease-out;
  display: flex;
  flex-direction: column;
  margin: 25px 16px;
  gap: 25px;

  @include mq(s) {
  }
  @include mq(m) {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    gap: 50px;
    align-items: center;

    &[data-ratio="two-thirds"] {
      grid-template-columns: 2fr 1fr;
    }
    // gap: 50px;
    margin: 50px 25px;
  }
  @include mq(xl) {
    margin: 50px 0;
  }

  &.visible {
    opacity: 1;
    transform: translateY(0);
  }
}
