@import "../../styles/index.scss";

.home-page {
  background-color: $bkgd-yellow;
}

.home-content {
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 25px;

  @include mq(m) {
    padding-bottom: 50px;
  }

  &__banner {
    display: grid;
    place-items: center; // Centers both horizontally and vertically
    position: relative;

    // &__image {
    //   max-width: 1200px;
    //   width: 100%;
    //   grid-area: 1 / 1;
    // }
    &__image {
      max-width: 1800px;
      grid-area: 1 / 1;
      object-fit: cover; // Ensures the image is cropped to fit the container
      object-position: top;
      width: 100%;

      @include mq(s) {
        height: 500px;
      }
      @include mq(s) {
        height: 600px;
      }
      @include mq(xl) {
        height: 800px;
      }
    }
    &__overlay {
      grid-area: 1 / 1; // Ensures the text is in the same grid area as the image
      align-self: center;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 10px;
      align-items: center;

      @include mq(s) {
        gap: 20px;
      }
      @include mq(m) {
        gap: 30px;
      }
    }
    &__text {
      text-align: center;
      color: $white;
      font-size: 36px;
      padding-left: 30px;
      padding-right: 30px;
      margin: 0;
      @include copperplate_gothic(700);

      @include mq(s) {
        padding: 0;
        font-size: 50px;
        max-width: 590px;
        align-self: normal;
        padding-left: 36px;
        padding-right: 36px;
      }
      @include mq(m) {
        font-size: 65px;
        max-width: 800px;
      }
      @include mq(xl) {
        font-size: 75px;
        max-width: 900px;
      }
    }

    &__button {
      @include button($sky-blue, $white);
      max-width: 200px;

      @include mq(m) {
        // display: none;
        max-width: 300px;
        font-size: 30px;
        padding: 24px 30px;
      }
    }
  }

  &__welcome {
    font-size: 45px;
    color: $teal-2;
    font-weight: 700;
    text-align: center;
  }

  .section-content__content {
    .home-content__section {
      p {
        font-size: 24px;
        margin-bottom: 0;
      }
      ul {
        margin: 0;
      }
      li {
        font-size: 24px;
      }
    }
  }

  .section-content__image-container {
    #lady-fascia {
      max-width: 600px;
    }
  }
}
