@import "../../styles/index.scss";

.home-page {
  background-color: $bkgd-yellow;
}

.home-content {
  max-width: 1200px;
  margin: 0 auto;

  .banner-image {
    max-width: 1200px;
  }
  .banner {
    margin: 32px;
  }
}
